@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}
.btn:active,
.btn:focus {
  outline: none;
  box-shadow: none;
}

.bg-cat1 {
  background: #fbbf07;
}
.bg-cat2 {
  background: #f97c04;
}
.bg-cat3 {
  background: #ef0501;
}
.bg-cat4 {
  background: #0871f4;
}
.bg-cat5 {
  background: #5ba61e;
}
.bg-cat6 {
  background: #ab31af;
}

.title-badge {
  float: left;
  height: 100%;
  margin: 0 15px 0 0;
  padding: 10px 5px;
}

.container {
  max-width: 1000px;
}

.header .navbar {
  border-bottom: 1px solid #f0f0f0;
}

.header .logos img {
  max-height: 50px;
  margin: 0 15px;
}

.search-form {
  position: relative;
  float: left;
  margin: 4px 1.5em 0 0;
}
.search-form .form-control {
  width: 100%;
  min-width: 300px;
  max-width: 900px;
  border-radius: 20px;
  font-size: 13px;
  font-style: italic;
  box-shadow: 0 1px 5px #eee;
}
.search-form button {
  position: absolute;
  right: 4px;
  top: 3px;
  background: #c78609;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  padding: 0;
}
.search-form button span {
  font-size: 20px;
  color: #fff;
  line-height: 26px;
}

.login-form {
  margin-right: 1.5em;
}
.login-form a {
  display: inline-block;
  text-align: center;
  padding: 0;
  line-height: 40px;
}
.login-form a span {
  font-size: 28px;
  color: #aaa;
  position: relative;
  top: 5px;
}

.news h2 span {
  padding: 0 30px;
}
.news .title {
  font-weight: 600;
}
.news .text {
  padding-left: 25px;
}

.moment h4 span {
  padding: 0 10px;
}
.moment .btn-next {
  float: right;
  border: 1px solid #333;
  padding: 2px 10px 0;
  height: 30px;
  border-radius: 0;
}

.dossiers {
  background: #f0f0f0;
  overflow-x: hidden;
}
.carousel {
  padding: 0 10%;
}
.carousel a:hover,
.carousel a:focus {
  text-decoration: none;
}
.carousel .title {
  display: block;
  margin-top: 15px;
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
}
.carousel .slick-slide {
  margin: 0 20px;
}
.carousel .slick-prev {
  background: url(./img/arrow.png) center no-repeat;
  background-size: 20px;
  border: none;
  transform: rotate(180deg);
  font-size: 0px;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  position: absolute;
  left: 5%;
  top: calc(50% - 15px);
}

.carousel .slick-next {
  background: url(./img/arrow.png) center no-repeat;
  background-size: 20px;
  border: none;
  font-size: 0px;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  position: absolute;
  right: 5%;
  top: calc(50% - 15px);
}

footer {
  overflow: hidden;
  padding: 30px 15px 50px;
  border-top: 1px solid #f0f0f0;
}
footer .logos img {
  max-height: 50px;
  margin: 0 15px;
}
footer ul,
footer li {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer li a {
  display: block;
  color: #333;
  max-width: 250px;
}
footer li a:hover,
footer li a:focus {
  color: #333;
}
